{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container-fluid text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>GameDisplay</h1>
            <p class="lead">Welcome to this page. Tis page simply display games, platforms and companies.</p>
        </main>
    </div>
</div>

{% endblock %}
