{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}

<div class="container">
    {% for game in games %}
        <p>{{ game.name }}</p>
        <p>{{ game.price }}</p>
    {% endfor %}
</div>

{% endblock %}
